body {
  background-color: rgb(58, 44, 44);
  text-align: center;
  align-content: center;
}
div {
  height: auto;
  border: solid white 1px;
  border-radius: 20px;
  align-content: center;
  margin: 50px;
}
h1 {
  color: white;
}
h2 {
  color: white;
}

p {
  color: red;
}

a {
  color: yellow;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
