html {
  max-width: 100%;
}
body {
  background-color: #e5e5e5;
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  margin: 0px;
}
header {
  display: grid;
  grid-template-columns: 200px 2fr auto;
  height: 144px;
  left: 0px;
  top: 0px;
  background-color: rgb(39, 117, 206);
}
nav {
  float: right;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 232px 232px 232px;
  height: 44px;
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto 1px auto;
  margin: auto;
  top: 165px;
}
.logo {
  height: 144px;
}
.nav-element {
  border-right: 1.5px solid #ff790a;
  width: 232px;
}
.nav-element-last {
  width: 232px;
}

/* about me section*/
.about-me {
  margin: 0 auto;
  padding: 45px 0 15px 0;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 425px;
  box-sizing: border-box;
  text-align: center;
}
.about-me-p {
  border-top: 1px solid #006be6;
  border-bottom: 1px solid #006be6;
  text-align: left;
  width: 508px;
  align-content: center;
  margin-bottom: 30px;
}
/* space between */
.space {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 2px solid #006be6;
}
/*gallery section */
.index-gallery {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 auto;
}
h1,
h2 {
  font-family: Oswald;
  font-weight: 500;
  font-style: normal;
  line-height: 44px;
  color: #ff790a;
  text-align: center;
}
h2 {
  line-height: 35px;
  margin: 5px;
}

.about-me-p p {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
  width: 338px;
  margin: 20px auto 20px auto;
}

a {
  margin: auto;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  width: 125px;
  color: #374a61;
  text-decoration: none;
}
nav a:hover {
  color: #d4eeff;
}
.cta {
  background-color: #0a213a;
  color: #d4eeff;
  font-weight: normal;
  width: 123px;
  height: 54px;
  border: 1px solid #0a213a;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-top: 40px;
}
.cta:hover {
  background-color: rgba(10, 33, 58, 0.9);
  border: 1px solid rgba(10, 33, 58, 0.9);
}
.image-box img {
  width: 300px;
  height: 181px;
}
footer {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 122px 122px 122px;
  height: 365px;
  background: #0a213a;
  height: 365px;
}
footer img {
}
.instagram {
}
section.copyright {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}
.contact {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
section.instagram {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 250px;
}
.footer-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
.copyright {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  /*
  left: 10%;
  top: 20%;*/
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}
.dm {
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  line-height: 203%;
  color: #fff;
}
footer p {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  position: absolute;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.075em;
  color: white;
  padding: 50px 50px;
  margin: 0 auto;
}
p.instagram {
  padding: 0px;
  margin: auto;
  font-family: Oswald;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
