body {
  background-color: black;
  text-align: center;
}
div {
  height: 250px;

  border: solid white 1px;
  border-radius: 20px;
  vertical-align: middle;
}
h1 {
  position: relative;
  top: 35%;
  color: white;
}
h2{

  color: white;
}

p {
  color: red;

}

a{
  color: yellow;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}